USE [master]
GO
/****** Object:  Database [SistemaUsuariosDB]    Script Date: 19/05/2026 06:33:43 p. m. ******/
CREATE DATABASE [SistemaUsuariosDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaUsuariosDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\SistemaUsuariosDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaUsuariosDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\SistemaUsuariosDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaUsuariosDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaUsuariosDB]
GO
/****** Object:  Table [dbo].[Direcciones]    Script Date: 19/05/2026 06:33:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direcciones](
	[IdDireccion] [int] IDENTITY(1,1) NOT NULL,
	[Calle] [varchar](150) NOT NULL,
	[Numero] [varchar](20) NULL,
	[CodigoPostal] [varchar](20) NULL,
	[Calle1] [varchar](150) NULL,
	[Calle2] [varchar](150) NULL,
	[Depto] [varchar](20) NULL,
	[Piso] [varchar](20) NULL,
	[Provincia] [varchar](100) NOT NULL,
	[Partido] [varchar](100) NULL,
	[Localidad] [varchar](150) NULL,
	[Latitud] [decimal](10, 7) NULL,
	[Longitud] [decimal](10, 7) NULL,
	[DireccionOriginal] [varchar](250) NULL,
	[DireccionNormalizada] [varchar](250) NULL,
	[FechaAlta] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDireccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialPasswords]    Script Date: 19/05/2026 06:33:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialPasswords](
	[IdHistorial] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[PasswordHash] [varchar](256) NOT NULL,
	[FechaUso] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHistorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passwords]    Script Date: 19/05/2026 06:33:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passwords](
	[IdPassword] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[PasswordHash] [varchar](256) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPassword] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personas]    Script Date: 19/05/2026 06:33:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personas](
	[IdPersona] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[DNI] [varchar](20) NOT NULL,
	[Telefono] [varchar](30) NULL,
	[Correo] [varchar](100) NOT NULL,
	[FechaNacimiento] [date] NULL,
	[IdDireccion] [int] NULL,
	[FechaAlta] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PoliticasSeguridad]    Script Date: 19/05/2026 06:33:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PoliticasSeguridad](
	[IdPolitica] [int] IDENTITY(1,1) NOT NULL,
	[MinCaracteres] [int] NULL,
	[CantPreguntas] [int] NULL,
	[RequiereMayusculas] [bit] NULL,
	[RequiereNumeros] [bit] NULL,
	[RequiereEspeciales] [bit] NULL,
	[Requiere2FA] [bit] NULL,
	[NoRepetirPasswords] [bit] NULL,
	[ValidarDatosPersonales] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPolitica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreguntasSeguridad]    Script Date: 19/05/2026 06:33:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreguntasSeguridad](
	[IdPregunta] [int] IDENTITY(1,1) NOT NULL,
	[Pregunta] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPregunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecuperacionPassword]    Script Date: 19/05/2026 06:33:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecuperacionPassword](
	[IdRecuperacion] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Codigo] [varchar](100) NULL,
	[FechaSolicitud] [datetime] NULL,
	[Usado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRecuperacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RespuestasUsuario]    Script Date: 19/05/2026 06:33:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RespuestasUsuario](
	[IdRespuesta] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdPregunta] [int] NOT NULL,
	[RespuestaHash] [varchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRespuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 19/05/2026 06:33:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 19/05/2026 06:33:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[IdPersona] [int] NOT NULL,
	[IdRol] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[PrimerLogin] [bit] NOT NULL,
	[Usa2FA] [bit] NOT NULL,
	[FechaAlta] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Direcciones] ADD  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[HistorialPasswords] ADD  DEFAULT (getdate()) FOR [FechaUso]
GO
ALTER TABLE [dbo].[Passwords] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Passwords] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Personas] ADD  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[PoliticasSeguridad] ADD  DEFAULT ((6)) FOR [MinCaracteres]
GO
ALTER TABLE [dbo].[PoliticasSeguridad] ADD  DEFAULT ((2)) FOR [CantPreguntas]
GO
ALTER TABLE [dbo].[PoliticasSeguridad] ADD  DEFAULT ((0)) FOR [RequiereMayusculas]
GO
ALTER TABLE [dbo].[PoliticasSeguridad] ADD  DEFAULT ((0)) FOR [RequiereNumeros]
GO
ALTER TABLE [dbo].[PoliticasSeguridad] ADD  DEFAULT ((0)) FOR [RequiereEspeciales]
GO
ALTER TABLE [dbo].[PoliticasSeguridad] ADD  DEFAULT ((0)) FOR [Requiere2FA]
GO
ALTER TABLE [dbo].[PoliticasSeguridad] ADD  DEFAULT ((1)) FOR [NoRepetirPasswords]
GO
ALTER TABLE [dbo].[PoliticasSeguridad] ADD  DEFAULT ((1)) FOR [ValidarDatosPersonales]
GO
ALTER TABLE [dbo].[RecuperacionPassword] ADD  DEFAULT (getdate()) FOR [FechaSolicitud]
GO
ALTER TABLE [dbo].[RecuperacionPassword] ADD  DEFAULT ((0)) FOR [Usado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [PrimerLogin]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [Usa2FA]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[Passwords]  WITH CHECK ADD  CONSTRAINT [FK_Passwords_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Passwords] CHECK CONSTRAINT [FK_Passwords_Usuarios]
GO
ALTER TABLE [dbo].[Personas]  WITH CHECK ADD  CONSTRAINT [FK_Personas_Direcciones] FOREIGN KEY([IdDireccion])
REFERENCES [dbo].[Direcciones] ([IdDireccion])
GO
ALTER TABLE [dbo].[Personas] CHECK CONSTRAINT [FK_Personas_Direcciones]
GO
ALTER TABLE [dbo].[RespuestasUsuario]  WITH CHECK ADD FOREIGN KEY([IdPregunta])
REFERENCES [dbo].[PreguntasSeguridad] ([IdPregunta])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Personas] FOREIGN KEY([IdPersona])
REFERENCES [dbo].[Personas] ([IdPersona])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Personas]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarUsuarioPorId]    Script Date: 19/05/2026 06:33:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BuscarUsuarioPorId]
    @IdUsuario INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        U.IdUsuario,
        U.Usuario,
        U.Activo,
        U.PrimerLogin,
        U.Usa2FA,
        U.FechaAlta AS FechaAltaUsuario,

        R.IdRol,
        R.NombreRol,

        P.IdPersona,
        P.Nombre,
        P.Apellido,
        P.DNI,
        P.Telefono,
        P.Correo,
        P.FechaNacimiento,

        D.IdDireccion,
        D.Calle,
        D.Numero,
        D.CodigoPostal,
        D.Calle1,
        D.Calle2,
        D.Depto,
        D.Piso,
        D.Provincia,
        D.Partido,
        D.Localidad,
        D.Latitud,
        D.Longitud,
        D.DireccionOriginal,
        D.DireccionNormalizada
    FROM dbo.Usuarios U
    INNER JOIN dbo.Personas P
        ON U.IdPersona = P.IdPersona
    INNER JOIN dbo.Roles R
        ON U.IdRol = R.IdRol
    LEFT JOIN dbo.Direcciones D
        ON P.IdDireccion = D.IdDireccion
    WHERE U.IdUsuario = @IdUsuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarUsuarios]    Script Date: 19/05/2026 06:33:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ListarUsuarios]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        U.IdUsuario,
        U.Usuario,
        U.Activo,
        U.PrimerLogin,
        U.Usa2FA,
        U.FechaAlta AS FechaAltaUsuario,

        R.IdRol,
        R.NombreRol,

        P.IdPersona,
        P.Nombre,
        P.Apellido,
        P.DNI,
        P.Telefono,
        P.Correo,
        P.FechaNacimiento,

        D.IdDireccion,
        D.Calle,
        D.Numero,
        D.CodigoPostal,
        D.Calle1,
        D.Calle2,
        D.Depto,
        D.Piso,
        D.Provincia,
        D.Partido,
        D.Localidad,
        D.Latitud,
        D.Longitud,
        D.DireccionOriginal,
        D.DireccionNormalizada
    FROM dbo.Usuarios U
    INNER JOIN dbo.Personas P
        ON U.IdPersona = P.IdPersona
    INNER JOIN dbo.Roles R
        ON U.IdRol = R.IdRol
    LEFT JOIN dbo.Direcciones D
        ON P.IdDireccion = D.IdDireccion
    ORDER BY U.IdUsuario DESC;
END;
GO
USE [master]
GO
